<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>About Page</title>

    <link rel="stylesheet" href="static/bootstrap/bootstrap.min.css">
    <script src="static/jquery/jquery.js"></script>
    <script src="static/bootstrap/bootstrap.min.js"></script>
    <script src="static/main.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
</head>

<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
	<!-- Brand -->
	<a class="navbar-brand" href="#">Who is Angelo Fatali?</a>

	<!-- Toggler/collapsibe Button -->
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		<span class="navbar-toggler-icon"></span>
	</button>

	<!-- Navbar links -->
	<div class="collapse navbar-collapse" id="collapsibleNavbar">
		<ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link" href="/">Home</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" href="#">About</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/projects">Projects</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/game">Game</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/comments">Comment</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/book">Book</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/accounts">Create an Account</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/addressbook">Address Book</a>
		</li>
		</ul>
	</div> 
	</nav>

	<div class="jumbotron text-center">
		<h2>Who the heck am I?</h2>
	</div>

	<div class="container">
		<div class="row">
			<style>
			p {text-align: center;}
			h3 {text-align: center;}
			h5 {text-align: center;}

			</style>
			<div class="col-sm-4">
				<br>
				<h3>Who?</h3>
				<p style="font-size:20px">I am Angelo Fatali.</p>
				<p>- 18 years old,
				I love dogs.</p>
				<p>- Machine learning is my forte.</p>
				<p>- Above average in Python & C#,
				intermediate at Java,
				and beginner to C++ and HTML.</p>
				<p><center><img src="/static/images/IMG_4388.jpeg" style="width:200px;height121px;"alt="Carl"></center></p>
				<p><center>My dog Carl.</center></p>
			</div>

			<div class="col-sm-4">
				<br>
				<h3>What?</h3>
				<p style="font-size:20px">CSE Student</p>
				<p>- I am a computer nerd.</p>
				<p>- Youngest sibling, older sister and brother.</p>
				<p>- 6' tall male.</p>
				<p>- Student at UC Merced.</p>
				<p><center><img src="/static/images/ucm_seal_fullcolor_2019.png" style="width:200px;height121px;" class="img-fluid" alt="UCM"></center></p>
			</div>

			<div class="col-sm-4">
				<br>
				<h3>Where?</h3> 
				<p style="font-size:20px">Palm Desert, CA</p>
				<p>- Born in Rockville, Utah.</p>
				<p>- Moved to Palm Desert at the age of 1.</p>
				<p>- Raised, and still living in the desert of California.</p>
				<p>- I would like to live in San Fransisco.</p>
				<p><center><a href="https://www.google.com/maps/@37.1610991,-113.0415974,3a,75y,153.8h,84.57t/data=!3m6!1e1!3m4!1sEhLhQAPyZequtGLMBbuUcA!2e0!7i13312!8i6656"><img src="/static/images/IMG_5967.JPG" style="width:200px;height121px;" class="img-fluid" alt="UCM"></a></center></p>
				<p><center>This is the schoolhouse I was born in. Click image to see more.</center></p>

				
			</div>
		</div>
	</div>
</body>

</html>
