<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/bootstrap/bootstrap.min.css">
    <script src="static/jquery/jquery.js"></script>
    <script src="static/bootstrap/bootstrap.min.js"></script>
    <script src="static/main.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
</head>

<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
	<!-- Brand -->
	<a class="navbar-brand" href="#">My Projects</a>

	<!-- Toggler/collapsibe Button -->
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		<span class="navbar-toggler-icon"></span>
	</button>

	<!-- Navbar links -->
	<div class="collapse navbar-collapse" id="collapsibleNavbar">
		<ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link" href="/">Home</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/about">About</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" href="#">Projects</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/game">Game</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/comments">Comment</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/book">Book</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/accounts">Create an Account</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/addressbook">Address Book</a>
		</li>
		</ul>
	</div> 
	</nav>

	<div class="jumbotron text-left">
		<h1>Projects:</h1>
		<div class="container">
			<br>
			<br>
			<div class="row">
				<div class="col-sm-3">
					<h4><center><a href="https://github.com/SpreadTheJello/portfolio/blob/master/Sudoku%20Solver/solver.py">Sudoku Solver</a></center></h4> 
				</div>

			<div class="col-sm-3">
				<h4><center><a href="https://github.com/SpreadTheJello/portfolio/blob/master/Tensorflow/Classification.py">Classification</a></center></h4>
			</div>

			<div class="col-sm-3">
				<h4><center><a href="https://github.com/SpreadTheJello/portfolio/blob/master/Tensorflow/LinearRegression.py">Linear Regression</a></center></h4>  
			</div>

			<div class="col-sm-3">
				<h4><center><a href="https://github.com/SpreadTheJello/portfolio/blob/master/Otherworks/FirstNN.py">Neural Network</a></center></h4>  
			</div>
		</div>
	</div>
</div>
<div class="container">
			<br>
			<br>
			<div class="row">
				<div class="col-sm-3">
					<p><center>The <b>Sudoku Solver</b> was on of my first projects I did in Python, and was a great way to integrate almost all of what I knew.</center></p> 
				</div>

			<div class="col-sm-3">
				<p><center><b>Classification</b> is a ML algorithm that uses Tensorflow as its backbone. I took data on certain flower characteristics and used classification algorithm to predict which type of flower the user is looking for.</center></p>
			</div>

			<div class="col-sm-3">
				<p><center><b>Linear Regression</b> is another Tensorflow project, that would predict your survivability from the Titanic sinkage, determined by real data on titanic survivors.</center></p>
			</div>

			<div class="col-sm-3">
				<p><center><b>Neural Network</b> was my first NN from scratch, not using a ML library like Tensorflow. It is a very small 2 input 1 output network that will predict if a flower is red or blue, depending on characteristics inputted from the user.</center></p>  
			</div>
		</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-">
				<br>
				<br>
				<h3>Github</h3>
				<p>Check out my <a href="https://github.com/SpreadTheJello/portfolio">portfolio</a> on github.</p>
			</div>
		</div>
	</div>
	
</body>

</html>